@inherits ButtonBase

@if (Href.IsHave())
{
	<a class="@CssClass" href="@Href" target="@Target" id="@Id" @attributes="UserAttrs">
		@Text
		@ChildContent
	</a>
}
else
{
	<button type="@Type.ToHtml()" class="@CssClass" formtarget="@Target" id="@Id" @attributes="UserAttrs"
		@onclick="HandleOnClickAsync">
		@Text
		@ChildContent
	</button>
}

@code {
	/// <summary>URL 링크 지정.</summary>
	[Parameter] public string? Href { get; set; }
	/// <summary>타겟 지정.</summary>
	[Parameter] public string? Target { get; set; }

	//
	protected override string CssName => "btn";

	//
	protected override void OnComponentClass(CssCompose css)
	{
		css
			.Add(Color.ToButtonCss(Outline))
			.Add(Size.ToCss("btn"));
	}
}
