@inherits ButtonBase

@if (Href.IsHave())
{
	<a @ref="RootElement"
   class="@CssClass"
   href="@Href"
   target="@Target"
   id="@Id"
   @attributes="UserAttrs">
		@ChildContent
	</a>
}
else
{
	<button @ref="RootElement"
		class="@CssClass"
		type="@Type.ToHtml()"
		formtarget="@Target"
		id="@Id"
		@attributes="UserAttrs"
		@onclick="HandleOnClickAsync">
		@ChildContent
	</button>
}

@code {
	/// <summary>URL 링크 지정.</summary>
	[Parameter] public string? Href { get; set; }
	/// <summary>타겟 지정.</summary>
	[Parameter] public string? Target { get; set; }

	//
	protected override void OnComponentClass(CssCompose css)
	{
		css
			.Add(Color.ToButtonCss(Outline))
			.Add(Size.ToCss("btn"));
	}
}
