@inherits DuButtonBase

@if (Href.IsHave())
{
	<a @ref="RootElement"
   @attributes="UserAttrs"
   style="@CssStyle.Result"
   class="@CssClass.Result"
   target="@Target"
   href="@Href"
   id="@Id">
		@ChildContent
	</a>
}
else
{
	<button @ref="RootElement"
		@attributes="UserAttrs"
		style="@CssStyle.Result"
		class="@CssClass.Result"
		type="@GetHtmlType()"
		formtarget="@Target"
		id="@Id"
		@onclick="HandleOnClickAsync">
		@ChildContent
	</button>
}

@code {
	/// <summary>URL 링크 지정.</summary>
	[Parameter] public string? Href { get; set; }
	/// <summary>타겟 지정.</summary>
	[Parameter] public string? Target { get; set; }

	//
	protected override void OnComponentCss()
	{
		CssClass
			.Add(GetCssColor)
			.Add(GetCssSize);
	}

}