@inherits DuGroupBase

<div @ref="RootElement"
     @attributes="UserAttributes"
     style="@CssStyle.Result"
     class="@CssClass.Result"
     role="toolbar"
     aria-label="@AriaLabel"
     id="@Id">
	<CascadingValue Value="this" IsFixed="true">
		<div class="tab-hdr" role="tablist">
			@ChildContent
		</div>
	</CascadingValue>
	@if (TitleOnly is false)
	{
		<div class="tab-ctx"
		     role="tabpanel"
		     aria-hidden="false"
		     aria-labelledby="@Id">
			@(_selected?.Content ?? _selected?.ChildContent)
		</div>
	}
</div>

@code {
	[Parameter]
	public ComponentOverflow Overflow
	{
		get => _overflow;
		set
		{
			if (_overflow == value) return;
			_overflow = value;
			CssClass.Invalidate();
		}
	}

	[Parameter]
	public ComponentPosition Position
	{
		get => _position;
		set
		{
			if (_position == value) return;
			_position = value;
			CssClass.Invalidate();
		}
	}

	[Parameter]
	public ComponentSize TitleSize
	{
		get => _title_size;
		set
		{
			if (_title_size == value) return;
			_title_size = value;
			CssClass.Invalidate();
		}
	}

	[Parameter]
	public TabTitleLayout TitleLayout
	{
		get => _title_layout;
		set
		{
			if (_title_layout == value) return;
			_title_layout = value;
			CssClass.Invalidate();
		}
	}

	[Parameter]
	public bool TitleOnly { get; set; }

	[Parameter]
	public string? AriaLabel { get; set; }

	[Parameter]
	public EventCallback<TabChangeEvent> OnTabChange { get; set; }

	protected override string RootClass => "tab";

	private List<DuTab> _tabs = new();
	private DuTab? _selected;

	private ComponentOverflow _overflow;
	private ComponentPosition _position;
	private ComponentSize _title_size;
	private TabTitleLayout _title_layout;

	//
	protected override void OnComponentClass()
	{
		CssClass
			.Add(GetTitleSizeCss)
			.Add(GetTitleLayoutCss)
			.Add(GetOverflowCss)
			.Add(GetPositionCss);
	}

	//
	public void AddTab(DuTab tab)
	{
		if (Enabled is false)
			tab.Enabled = false;

		if (_selected is null)
		{
			tab.SetSelected(true);

			_selected = tab;
			StateHasChanged();
		}

		_tabs.Add(tab);
	}

	//
	public void RemoveTab(DuTab tab)
	{
		// 근데 이거 해야함? 어짜피 dispose인데
		_tabs.Remove(tab);
	}

	//
	public async void SelectTab(DuTab tab)
	{
		var prev = _selected;

		_selected?.SetSelected(false);
		tab.SetSelected(true);

		_selected = tab;

		StateHasChanged();

		await InvokeOnLinkClick(new TabChangeEvent
		{
			Tab = tab,
			Previous = prev
		});
	}

	//
	protected virtual Task InvokeOnLinkClick(TabChangeEvent tab)
	{
		return OnTabChange.InvokeAsync(tab);
	}

	//
	private string? GetTitleSizeCss()
	{
		return TitleSize switch
		{
			ComponentSize.Medium or
				ComponentSize.Small => "tab-nm",
			ComponentSize.Large => "tab-lg",
			_ => null
			};
	}

	//
	private string? GetTitleLayoutCss()
	{
		return TitleLayout switch
		{
			TabTitleLayout.Flat => "tab-lnk",
			TabTitleLayout.Box => "tab-box",
			_ => null
			};
	}

	//
	private string? GetOverflowCss()
	{
		return Overflow switch
		{
			ComponentOverflow.None => null,
			ComponentOverflow.Menu => null,
			ComponentOverflow.Scroll => "tab-scrl",
			_ => null
			};
	}

	//
	private string? GetPositionCss()
	{
		return Position switch
		{
			ComponentPosition.Top => "flex-flow-column",
			ComponentPosition.Right => "flex-flow-row-reverse",
			ComponentPosition.Bottom => "flex-flow-column-reverse",
			ComponentPosition.Left => "flex-flow-row",
			_ => null
			};
	}
}
