@inherits DuComponentParent
@implements IDisposable

<button @ref="RootElement"
        @attributes="UserAttributes"
        style="@CssStyle.Result"
        class="@CssClass.Result"
        type="button"
        role="tab"
        aria-selected="@(Selected ? "true" : "false")"
        aria-label="@AriaLabel"
        tabindex="@(Selected ? 0 : -1)"
        id="@Id"
        @onclick="HandleOnClick">
	@if (Header is not null)
	{
		<span>@Header</span>
	}
	else
	{
		<span>@Title</span>
	}
</button>

@code {
	/// <summary>피벗 그룹</summary>
	[CascadingParameter] public DuGroupPivot? Group { get; set; }

	/// <summary>타이틀 <see cref="Header"/> </summary>
	[Parameter] public string? Title { get; set; }
	/// <summary>부트스트랩 ARIA 라벨</summary>
	[Parameter] public string? AriaLabel { get; set; }

	/// <summary>헤더 <see cref="Title"/></summary>
	[Parameter] public RenderFragment? Header { get; set; }
	/// <summary>내용
	/// <see cref="Header"/>와 짝꿍<br/>이 내용이 있을 경우,
	/// 태그 밖 <see cref="DuComponentParent.ChildContent"/>는 처리하지 않는다
	/// </summary>
	[Parameter] public RenderFragment? Content { get; set; }

	public bool Selected
	{
		get => _selected;
		set
		{
			if (value == _selected) return;
			_selected = value;
			CssClass.Invalidate();
		}
	}

	protected override string RootClass => RootClasses.hpvt_item;
	protected override string RootId => RootIds.pivot;

	private bool _selected;
	private bool _disposed;

	//
	protected override void OnComponentInitialized()
	{
		Group?.AddPivot(this);
	}

	//
	protected override void OnComponentClass()
	{
		CssClass
			.Add(() => Selected.IfTrue(RootClasses.hpvt_sel));
	}

	//
	public void SetSelected(bool selected)
	{
		Selected = selected;
		StateHasChanged();
	}

	//
	private void HandleOnClick()
	{
		if (Enabled)
			Group?.SelectPivot(this);
	}

	//
	public void Dispose()
	{
		if (_disposed)
			return;

		Group?.RemovePivot(this);

		_disposed = true;
	}
}
