@inherits ContentItemContainer

<CascadingValue Value="this" IsFixed="true">
	@ChildContent
</CascadingValue>

<div role="toolbar" class="@CssClass" id="@Id" @attributes="UserAttrs">
	<div class="hpvt-hdr" role="tablist">
		@foreach (var item in Items)
		{
			var current = item == SelectedItem;
			<button 
				type="button" 
				role="tab"
				class="@CssCompose.Join("hpvt-item", current.IfTrue("hpvt-sel"), item.CssClass)"
				tabindex="@(current ? 0 : -1)"
				aria-selected="@current.ToBootStrap()"
				id="@Id" @attributes="UserAttrs"
				@onclick="async () => await HandleOnClickAsync(item)">
				@item.Text
				@item.Display
			</button>
		}
	</div>

	@if (PivotOnly is false)
	{
		<div role="tabpanel" class="hpvt-ctx" aria-hidden="false" aria-labelledby="@Id">
			@(SelectedItem?.Content ?? SelectedItem?.ChildContent)
		</div>
	}
</div>

@code {
	[Parameter] public PivotLayout Layout { get; set; }
	[Parameter] public PivotPosition Position { get; set; }
	[Parameter] public ComponentOverflow Overflow { get; set; }
	[Parameter] public ComponentSize Size { get; set; }
	[Parameter] public bool PivotOnly { get; set; }

	//
	protected override void OnComponentClass(CssCompose css)
	{
		css
			.Add("hpvt")
			.Add(Size switch
			{
				ComponentSize.Medium or
				ComponentSize.Small => "hpvt-nm",
				ComponentSize.Large => "hpvt-lg",
				_ => null
			})
			.Add(Layout switch
			{
				PivotLayout.Flat => "hpvt-lnk",
				PivotLayout.Box => "hpvt-box",
				_ => null
			})
			.Add(Overflow switch
			{
				ComponentOverflow.None => null,
				ComponentOverflow.Menu => null,
				ComponentOverflow.Scroll => "hpvt-scrl",
				_ => null
			})
			.Add(Position switch
			{
				PivotPosition.Top => "ff-column",
				PivotPosition.Right => "ff-row-reverse",
				PivotPosition.Bottom => "ff-column-reverse",
				PivotPosition.Left => "ff-row",
				_ => null
			});
	}

	//
	protected Task HandleOnClickAsync(ContentItem item) =>
		SelectItemAsync(item);
}
