@inherits ContentItemContainer

<CascadingValue Value="this" IsFixed="true">
	@ChildContent
</CascadingValue>

<div role="toolbar" class="@CssClass" id="@Id" @attributes="UserAttrs">
	<div class="hpvt-hdr" role="tablist">
		@foreach (var item in Items)
		{
			var current = item == SelectedItem;
			<button 
				type="button" 
				role="tab"
				class="@CssCompose.Join("hpvt-item", current.IfTrue("hpvt-sel"), item.CssClass)"
				tabindex="@(current ? 0 : -1)"
				aria-selected="@current.ToBootStrap()"
				id="@Id" @attributes="UserAttrs"
				@onclick="async () => await HandleOnClickAsync(item)">
				@item.Text
				@item.Display
			</button>
		}
	</div>

	@if (PivotOnly is false && SelectedItem is not null)
	{
		<div role="tabpanel" class="@CssCompose.Join("hpvt-ctx", SelectedItem.CssClass)" aria-hidden="false" aria-labelledby="@Id">
			@(SelectedItem.Content ?? SelectedItem.ChildContent)
		</div>
	}
</div>

@code {
	/// <summary>피벗 레이아웃. <see cref="PivotLayout"/></summary>
	[Parameter] public PivotLayout Layout { get; set; } = PivotLayout.Flat;
	/// <summary>피벗 위치. <see cref="TagPlacement"/></summary>
	[Parameter] public TagPlacement Position { get; set; } = TagPlacement.Top;
	/// <summary>피벗이 범위를 넘어서면 처리할 방법. <see cref="TagOverflow"/></summary>
	[Parameter] public TagOverflow Overflow { get; set; } = TagOverflow.None;
	/// <summary>피벗 크기. <see cref="TagSize"/></summary>
	[Parameter] public TagSize Size { get; set; } = TagSize.Medium;
	/// <summary>피벗만 보이고 콘텐트는 보이지 않게함</summary>
	[Parameter] public bool PivotOnly { get; set; } //= false;

	//
	protected override void OnComponentClass(CssCompose cssc)
	{
		cssc.Add("hpvt")
			.Add(Size switch
			{
				TagSize.Medium or
				TagSize.Small => "hpvt-nm",
				TagSize.Large => "hpvt-lg",
				_ => null
			})
			.Add(Layout switch
			{
				PivotLayout.Flat => "hpvt-lnk",
				PivotLayout.Box => "hpvt-box",
				_ => null
			})
			.Add(Overflow switch
			{
				TagOverflow.None => null,
				TagOverflow.Menu => null,
				TagOverflow.Scroll => "hpvt-scrl",
				_ => null
			})
			.Add(Position switch
			{
				TagPlacement.Top => "ff-column",
				TagPlacement.Right => "ff-row-reverse",
				TagPlacement.Bottom => "ff-column-reverse",
				TagPlacement.Left => "ff-row",
				_ => null
			});
	}

	//
	protected Task HandleOnClickAsync(ContentItem item) =>
		SelectItemAsync(item);
}
