@inherits AbstractTab

<CascadingValue Value="this" IsFixed="true">
	@ChildContent
</CascadingValue>

<nav @ref="RootElement"
	 class="@CssClass"
	 id="@Id"
	 @attributes="UserAttrs">
	@foreach (var tab in _items)
	{
		<a role="button"
	   class="@CssCompose.Join(tab.CssClass, TabClass, (tab == _current).IfTrue("active"))"
	   id="@tab.Id"
	   @onclick="async () => await HandleOnClickAsync(tab)">
			@if (tab.Header is not null)
			{
				@tab.Header
			}
			else
			{
				@tab.Title
			}
		</a>
	}
</nav>

@if (TitleOnly is false)
{
	<div class="tab-content">
		@foreach (var tab in _items)
		{
			<div class="@CssCompose.Join("tab-pane", (tab == _current).IfTrue("active"))">
				@(tab.Content ?? tab.ChildContent)
			</div>
		}
	</div>
}

@code {
	[Parameter] public bool TitleOnly { get; set; }
	[Parameter] public NavLayout Layout { get; set; }
	[Parameter] public string? TabClass { get; set; }

	protected override string RootClass => "nav";

	//
	protected override void OnComponentClass(CssCompose css)
	{
		css.Add(Layout.ToCss());
	}

	//
	protected Task HandleOnClickAsync(TabItem tab) =>
		SelectItemAsync(tab);
}
