@inherits ComponentContainer

<CascadingValue Value="this" IsFixed="true">
	@ChildContent
</CascadingValue>

<nav class="@CssClass" id="@Id" @attributes="UserAttrs">
	@foreach (var item in Items)
	{
		var tab = (ContentItem)item;
		var current = tab == SelectedItem;
		<a role="button" class="@CssCompose.Join("nav-link", current.IfTrue("active"), tab.CssClass)" id="@tab.Id"
		   @onclick="async () => await HandleOnClickAsync(tab)">
			@tab.Text
			@tab.Display
		</a>
	}
</nav>

@if (TabOnly is false)
{
	<div class="tab-content">
		@foreach (var item in Items)
		{
			var tab = (ContentItem)item;
			var current = tab == SelectedItem;
			<div class="@CssCompose.Join("tab-pane", current.IfTrue("active"))">
				@(tab.Content ?? tab.ChildContent)
			</div>
		}
	</div>
}

@code {
	[Parameter] public NavLayout Layout { get; set; }
	[Parameter] public bool TabOnly { get; set; }

	//
	protected override string CssName => "nav";

	//
	protected override void OnComponentClass(CssCompose css)
	{
		css.Add(Layout.ToCss());
	}

	//
	protected Task HandleOnClickAsync(ContentItem tab) =>
		SelectItemAsync(tab);
}
